<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560608143962-8u3s7r6o7smeln1q332ik5fjv5ughf9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560608143962-8u3s7r6o7smeln1q332ik5fjv5ughf9v</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcMUolUdkoDQsZ4EeTZxAVJ5ChNkmEeA</string>
	<key>GCM_SENDER_ID</key>
	<string>560608143962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.bundleIdentifier</string>
	<key>PROJECT_ID</key>
	<string>communa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>communa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560608143962:ios:3c85085357c1bc84ca4663</string>
</dict>
</plist>